div.quizaccess_sebversion_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 5%;
    background: rgba(255, 0, 0, 0.85);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2147483647;
    pointer-events: auto;
    user-select: none;
}