body.path-theme-moove .bg-1 {
  background-color: #1e88e5;
}

body.path-theme-moove .bg-2 {
  background-color: #7460ee;
}

body.path-theme-moove .bg-3 {
  background-color: #26c6da;
}

body.path-theme-moove .bg-4 {
  background-color: #357a32;
}

body.path-theme-moove .small-box {
  border-radius: 4px;
  position: relative;
  display: block;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

body.path-theme-moove .small-box > .inner {
  padding: 5px 10px;
}

body.path-theme-moove .small-box h3,
body.path-theme-moove .small-box p {
  z-index: 5;
  color: #fff;
}
body.path-theme-moove .small-box p {
  margin-bottom: 0;
}

body.path-theme-moove .small-box h3 {
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}

body.path-theme-moove .small-box .icon {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  top: 5px;
  right: 40px;
  z-index: 0;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.15);
}

@include media-breakpoint-up(lg) {
  .chart-image {
    height: auto;
    width: auto;
    max-width: 100%;
  }
}